html,
body,
#app {
  width: 100%;
  height: 100vh;
  /* min-width: 1200px !important; */
}
body {
  font-family: "Roboto", "Arial", "Microsoft YaHei", "PingFang SC",
    "Helvetica Neue", "Helvetica", "Hiragino Sans GB", "STHeitiSC-Light",
    sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Source Han Sans CN;
}

html {
  background-color: #191b1e;
}

p {
  color: #ffffff;
  text-align: left;
}

li {
  list-style: none;
}

/* 超过3行显示。。。 */
.over_3_show_point {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 3 !important;
  -webkit-box-orient: vertical !important;
}
.nowarp {
  white-space: nowrap;
}
.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.show_content_item_box {
  /* width: 1200px; */
  width: 100%;
  /* height: 900px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #212429;
  /* border: 1px solid pink; */
  position: relative;
}

.show_content_item_box .biaoti_circle {
  width: 33px;
  height: 33px;
  /* position: absolute;
  top: 125px;
  left: 690px; */
  opacity: 0.5;
  position: absolute;
  top: 4px;
  left: -15px;

  /* z-index: 2; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
}

.show_content_item_box h1 {
  font-size: 32px;
  font-family: SourceHanSansCN-Medium;
  font-weight: 500;
  color: #ffffff;
  margin-top: 60px;
  position: relative;
  /* z-index: 3; */
}

.show_content_item_box p {
  margin-top: 20px;
  color: #b3b3b3;
  font-size: 14px;
  white-space: nowrap;
}

.show_content_item_box .img_show_box {
  width: 1334px;
  height: 808px;
  /* background: pink; */
  background-position: center center;
  background-repeat: no-repeat;
  /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
  /* background-attachment: fixed; */
  background-size: cover;
  /* margin-top: 20px; */
  margin-top: -10px;
}

.show_content_item_box .img_show {
  width: 1200px;
  height: 674.5px;
}

.show_content_item_box .img_scroll_out_box {
  /* width: 100%; */
  height: 680px;
  padding-top: 5px;
  border-radius: 16px;
  background-color: rgb(38, 45, 57);
  margin-top: 40px;
  z-index: 3;
}

.show_content_item_box .img_scroll_box {
  height: 660px;
  overflow: scroll;
  background-color: #191b1e;
  margin-top: 16px;
  margin-bottom: 86px;
  background-color: rgb(38, 45, 57);
  background-color: rgb(38, 45, 57);
  /* background-color: pink; */
  border-radius: 16px;
  /* padding: 15px; */
  /* display: flex; */
}

.show_content_item_box .img_scroll_box img {
  width: 1200px;
  height: auto;
  position: relative;
  right: 10px;
  top: 10px;
}

.show_content_item_box .wangge {
  height: 413px;
  width: 1920px;
  background-image: url("../images/store/wangge.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 2;
  bottom: 0;
  opacity: 0.3;
}

.show_content_item_box_no_bg {
  background: none;
  padding-bottom: 60px;
  /* padding-top: 60px; */
  position: relative;
  /* border-radius: 16px; */
  /* background: yellow; */
}

/* 右三角形 */
.right_arrow {
  display: inline-block;
  width: 6px;
  height: 10px;
  background-repeat: no-repeat;
  background-size: 100%;
  /* z-index: 9; */
  position: relative;
  top: 1px;
}

/* 页面滚动条不显示 */
::-webkit-scrollbar {
  width: 0;
}

/* 重写轮播图点样式 */
.el-carousel
  .el-carousel__indicators
  .el-carousel__indicator
  .el-carousel__button {
  width: 60px;
  height: 12px;
  background: #2070e5;
  border-radius: 6px;
}

.el-carousel
  .el-carousel__indicators
  .el-carousel__indicator.is-active
  .el-carousel__button {
  width: 12px;
  height: 12px;
  background: #2070e5;
  border-radius: 50%;
}

.light_point_container .swiper_box .el-carousel__indicators {
  width: 1920px;
  text-align: center;
  margin-left: 200px;
}

.solution_container .right_swiper_box .el-carousel__indicators {
  /* width: 1920px; */
  text-align: center;
  position: absolute;
}

.project_box {
  margin-top: 83px;
}

/* end */

.mobile_container {
  display: none;
}
